$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 14px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;

$dark-gray: #747474;
$gray: #b3b3b3;
$light-gray: #ccc;
$white: #fff;
$blue: #009ee7;